* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding: 20px;
}
nav {
  font: 1;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 430px;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}
.header {
  background: radial-gradient(#fff, #ffd6d6);
}

/*------------------------- Show/Hide Section --------------------------*/
.expanded_content {
  display: none;
}
.expand_content {
	color: blue;
	text-decoration: underline;
}

/*---------------------- Validations -------------------*/
.validation_error {
	color: red;
}
.text-right {
  text-align: right;
}
.border-top {
  border-top: 1px solid black;
}
.tableQuantity {
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
}

/* --------your name------------ */

.input {
  width: 50px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
}

/* -------------------------------Featured categories-------------------- */

.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 2%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}

/* ------------Featured and Latest products----------------------- */

.title {
  text-align: center;
  margin: 50px auto 50px 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating .fa {
  color: #eb7b0a;
}
.col-4:hover {
  transform: translateY(-10px);
}

/* ------------------------- footer ----------------------- */
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
  margin-top: 60px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.Copyright {
  text-align: center;
}
/* ------------------------- menu-icon ----------------------- */

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* --------------------- Media Query for Menu ------------------- */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* --------------------222------------  All products----------------------- */

.row-2 {
  justify-content: space-between;
  margin: 100px auto 30px;
}
select {
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus {
  outline: none;
}
.papg-btn {
  margin: 0 auto 80px;
}
.papg-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.papg-btn span:hover {
  background: #ff523b;
  color: #fff;
}

/* ----------------------single product details ------------- */

.single-product {
  margin-top: 50px;
}
.single-product.col-2 img {
  padding: 0;
}
.single-product.col-2 {
  padding: 20px;
}
.single-product h4 {
  margin: 5px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 8px;
  margin-top: 10px;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus {
  outline: none;
}
.single-product .fa {
  color: #ff523b;
  margin-left: 10px;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* ---------- Media Query for less than 600 screen size ----------- */

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}
/* ---------cart -------- */
#btn1 {
  padding: 10px 34px;
  background: red;
  border: 2px solid black;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin: 40px 31px 31px 31px;
}
/* ---------cart123 -------- */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  font-family: "Comfortaa", cursive;

  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

.container {
  max-width: 1200px;

  margin: 0 auto;
}

.container > h1 {
  padding: 20px 0;
}

.cart {
  display: flex;
}

.products {
  flex: 0.75;
}

.product {
  display: flex;

  width: 100%;

  height: 200px;

  overflow: hidden;

  border: 1px solid silver;

  margin-bottom: 20px;
}

.product:hover {
  border: none;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  transform: scale(1.01);
}

.product > img {
  width: 300px;

  height: 200px;

  object-fit: cover;
}

.product > img:hover {
  transform: scale(1.04);
}

.product-info {
  padding: 20px;

  width: 100%;

  position: relative;
}

.product-name,
.product-price,
.product-offer {
  margin-bottom: 20px;
}

.product-remove {
  position: absolute;

  bottom: 20px;

  right: 20px;

  padding: 10px 25px;

  background-color: green;

  color: white;

  cursor: pointer;

  border-radius: 5px;
}

.product-remove:hover {
  background-color: white;

  color: green;

  font-weight: 600;

  border: 1px solid green;
}

.product-quantity > input {
  width: 40px;

  padding: 5px;

  text-align: center;
}

.fa {
  margin-right: 5px;
}

.cart-total {
  flex: 0.25;

  margin-left: 20px;

  padding: 20px;

  height: 240px;

  border: 1px solid silver;

  border-radius: 5px;
}

.cart-total p {
  display: flex;

  justify-content: space-between;

  margin-bottom: 30px;

  font-size: 20px;
}

.cart-total a {
  display: block;

  text-align: center;

  height: 40px;

  line-height: 40px;

  background-color: tomato;

  color: white;

  text-decoration: none;
}

.cart-total a:hover {
  background-color: red;
}

@media screen and (max-width: 700px) {
  .remove {
    display: none;
  }

  .product {
    height: 150px;
  }

  .product > img {
    height: 150px;

    width: 200px;
  }

  .product-name,
  .product-price,
  .product-offer {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 900px) {
  .cart {
    flex-direction: column;
  }

  .cart-total {
    margin-left: 0;

    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 95%;
  }
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
